.SignUpcontainer {
    background-color: #e8e8e8;
    width: 100%;
    padding-top:50px;
    padding-bottom:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formContainer {
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #e6e6e6;
    border-radius: 1px;
    margin-top: 10px;
}


.title {
    font-family: "DK Uncle Edward";
    font-size: 65px;
}

.input {
    width: 80%;
    backgroundColor: #e8e8e8;
}

.orCont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    background-color: #b3b3b3;
    height: 1px;
    width: 30%;
}

.signUpCont{
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 2px solid #e6e6e6;
    border-radius: 1px;
    margin-top: 10px;
}

